<section class="accommodations-section section">
  <div class="container">
    <div class="accommodations-section-text-wrap section-text-wrap">
      <!-- <div class="section-text-wrap show-more"> -->
      <h2 class="section-title">УМОВИ ПРОЖИВАННЯ</h2>
      <p class="accommodations-desc">
        Наші гуртожитки - це місце, де кожна деталь продумана, щоб забезпечити
        зручність під час проживання. Пропонуємо затишні кімнати, розроблені для
        4-6 осіб. Тут Ви знайдете все необхідне для комфортного перебування:
        власну кухню, повністю обладнану ванну кімнату або душ з безперебійним
        гарячим водопостачанням, пральну машину, холодильник та доступ до Wi-Fi
      </p>
      <button type="button" class="show-more-btn">
        <span class="show-more-btn-title">Переглянути більше</span>
        <svg class="show-more-btn-icon">
          <use href="/icons/icons.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
    <div class="accommodations-slider-wrap swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            src="/images/accommodations/houses.jpg"
            alt="будинки"
            class="accommodations-img"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="/images/accommodations/kitchen.jpg"
            alt="кухня"
            class="accommodations-img"
          />
        </li>
        <li class="swiper-slide">
          <img
            src="/images/accommodations/other-rooms.jpg"
            alt="інші кімнати"
            class="accommodations-img"
          />
        </li>
      </ul>
      <ul class="accommodations-slider-controls-list">
        <li class="slider-controls-list-item">
          <button type="button" class="slider-button slider-button-prev">
            <svg class="slider-button-icon">
              <use href="/icons/icons.svg#arrow-left"></use>
            </svg>
          </button>
        </li>
        <li class="slider-controls-list-item">
          <button type="button" class="slider-button slider-button-next">
            <svg class="slider-button-icon">
              <use href="/icons/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="accommodations-slider-pagination slider-pagination"></div>
    </div>
  </div>
</section>
