<footer class="footer">
  <div class="container">
    <div class="footer-nav-container">
      <a href="#" class="footer-logo-link icon-scale">
        <svg class="header-logo-icon">
          <use href="/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="footer-nav-list">
        <li class="footer-nav-list-item">
          <a href="#" class="footer-nav-link">Вакансії</a>
        </li>
        <li class="footer-nav-list-item">
          <a href="#" class="footer-nav-link">Чому ми</a>
        </li>
        <li class="footer-nav-list-item">
          <a href="#" class="footer-nav-link">Наша історія</a>
        </li>
        <li class="footer-nav-list-item">
          <a href="#" class="footer-nav-link">Відгуки</a>
        </li>
        <li class="footer-nav-list-item">
          <a href="#" class="footer-nav-link">Запитання</a>
        </li>
      </ul>
    </div>
    <div>
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-address-list-item">
            <a
              class="footer-address-link"
              href="mailto:rvsrobotavsadah@gmail.com"
            >
              <svg class="footer-address-link-icon">
                <use href="/icons/icons.svg#email"></use>
              </svg>
              <span class="footer-address-link-title"
                >rvsrobotavsadah@gmail.com
              </span>
            </a>
          </li>
          <li class="footer-address-list-item">
            <a class="footer-address-link" href="tel:+380638175758">
              <svg class="footer-address-link-icon">
                <use href="/icons/icons.svg#phone"></use>
              </svg>
              <span class="footer-address-link-title"
                >+380 (63) 817 57 58
              </span>
            </a>
          </li>
          <li class="footer-address-list-item">
            <a
              class="footer-address-link"
              href="https://maps.app.goo.gl/aTLrQEPgmrBsA3i48"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="footer-address-link-icon">
                <use href="/icons/icons.svg#map-marker"></use>
              </svg>
              <span class="footer-address-link-title"
                >м. Львів, вул. Пекарська, 41
              </span>
            </a>
          </li>
        </ul>
      </address>
      <ul class="footer-social-list">
        <li class="footer-social-list-item">
          <a class="footer-social-link" href="#">
            <svg class="footer-social-link-icon">
              <use href="/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-list-item">
          <a class="footer-social-link" href="#">
            <svg class="footer-social-link-icon">
              <use href="/icons/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
