<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a href="/" class="header-logo-link">
        <svg class="header-logo-icon">
          <use href="/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="menu header-list desc-element">
        <li class="menu-item">
          <a href="/" class="menu-link">Вакансії</a>
        </li>
        <li class="menu-item">
          <a href="/" class="menu-link">Чому ми</a>
        </li>
        <li class="menu-item">
          <a href="/" class="menu-link">Наша історія</a>
        </li>
        <li class="menu-item">
          <a href="/" class="menu-link">Відгуки</a>
        </li>
        <li class="menu-item">
          <a href="/" class="menu-link">Запитання</a>
        </li>
      </ul>
    </nav>
    <div class="header-list">
      <button type="button" class="header-lang-btn desc-element">ua</button>
      <a href="/" class="phone-link">
        <svg class="phone-link-icon">
          <use href="/icons/icons.svg#phone"></use>
        </svg>
      </a>
      <button type="button" class="btn consultation-btn desc-element">
        Консультація
      </button>
      <button type="button" class="mobile-menu-toggle mobile-element">
        <svg class="mobile-menu-icon">
          <use href="/icons/icons.svg#menu-hamburger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
