<section class="hero-section section">
  <div class="container">
    <p class="hero-slogan" data-aos="fade-up">крок, який змінить ваше життя,</p>
    <h1 class="hero-title" data-aos="fade-up">Консультація щодо офіційного<br />працевлаштування в садах Чехії</h1>
    <button type="button" class="hero-join-us-btn btn js-hero-join-us-btn">Приєднатися до нас</button>
  </div>
  <video class="hero-bg-video mobile" src="/video/hero/bg-mobile.MP4" muted loop autoplay></video>
  <video class="hero-bg-video desk" src="/video/hero/bg-desk.MP4" muted loop autoplay></video>
</section>
