<form class="join-us-form">
  <div></div>
  <p>
    <span><input class="join-us-form-input" type="text" placeholder="Ім&#39;я" name="user-name" required /></span>
  </p>
  <p>
    <span><input class="join-us-form-input" type="tel" placeholder="+(код країни)(телефон)" name="user-phone" required /></span>
  </p>
  <p>
    <span>
      <span class="join-communication-radio-btn-list">
        <span class="wpcf7-list-item">
          <label>
            <input class="join-communication-radio-btn" type="radio" name="join-communication" value="telegram" />
            <span class="wpcf7-list-item-label">Telegram</span>
          </label>
        </span>
        <span class="wpcf7-list-item">
          <label>
            <input class="join-communication-radio-btn" type="radio" name="join-communication" value="viber" />
            <span class="wpcf7-list-item-label">Viber</span>
          </label>
        </span>
        <span class="wpcf7-list-item">
          <label>
            <input class="join-communication-radio-btn" type="radio" name="join-communication" value="call" checked />
            <span class="wpcf7-list-item-label">Дзвінок</span>
          </label>
        </span>
      </span>
    </span>
  </p>
  <p>
    <button type="submit" class="join-us-form-submit-btn btn">Консультація</button>
    <span
      class="wpcf7-spinner"
      style="
        visibility: hidden;
        display: inline-block;
        background-color: #23282d;
        opacity: 0.75;
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 100%;
        padding: 0;
        margin: 0 24px;
        position: relative;
      "
    ></span>
  </p>
</form>
