<form class="join-us-form">
  <input
    class="join-us-form-input js-join-us-form-name-input"
    type="text"
    placeholder="Ім&#39;я"
    name="user-name"
    required
  />
  <input
    class="join-us-form-input"
    type="tel"
    placeholder="Номер телефону"
    name="user-phone"
    required
  />
  <div class="join-communication-radio-btn-list">
    <label class="join-communication-radio-btn-wrap">
      <input
        class="join-communication-radio-btn hidden-element"
        type="radio"
        name="join-communication"
        value="telegram"
      />
      <span class="join-communication-custom-radio-btn-wrap">
        <span class="join-communication-custom-radio-btn">
          <svg class="join-communication-custom-radio-btn-icon">
            <use href="/icons/icons.svg#check-mark"></use>
          </svg>
        </span>
      </span>
      <span class="join-communication-radio-btn-title">Telegram</span>
    </label>
    <label class="join-communication-radio-btn-wrap">
      <input
        class="join-communication-radio-btn hidden-element"
        type="radio"
        name="join-communication"
        value="viber"
      />
      <span class="join-communication-custom-radio-btn-wrap">
        <span class="join-communication-custom-radio-btn">
          <svg class="join-communication-custom-radio-btn-icon">
            <use href="/icons/icons.svg#check-mark"></use>
          </svg>
        </span>
      </span>
      <span class="join-communication-radio-btn-title">Viber</span>
    </label>
    <label class="join-communication-radio-btn-wrap">
      <input
        class="join-communication-radio-btn hidden-element"
        type="radio"
        name="join-communication"
        value="call"
        checked
      />
      <span class="join-communication-custom-radio-btn-wrap">
        <span class="join-communication-custom-radio-btn">
          <svg class="join-communication-custom-radio-btn-icon">
            <use href="/icons/icons.svg#check-mark"></use>
          </svg>
        </span>
      </span>
      <span class="join-communication-radio-btn-title">Дзвінок</span>
    </label>
  </div>
  <button type="submit" class="join-us-form-submit-btn btn">
    Консультація
  </button>
</form>
