<section class="life-change-section section">
  <h2 class="section-title">як чехія<br />змінює життя</h2>
  <div class="life-change-slider-wrap">
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="life-change-card">
            <img
              src="../images/life-change/people.jpg"
              alt="люди"
              class="life-change-card-img"
            />
            <p class="life-change-card-text">
              Матимете можливість оволодіти <strong>чеською мовою</strong> та
              долучитися до культурного оточення
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="life-change-card">
            <img
              src="../images/life-change/street.jpg"
              alt="будівля"
              class="life-change-card-img"
            />
            <p class="life-change-card-text">
              Зможете проводити<br />час цікаво, проживаючи поблизу
              <strong>найбільших міст Чехії</strong>
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="life-change-card">
            <img
              src="../images/life-change/building.jpg"
              alt="люди"
              class="life-change-card-img"
            />
            <p class="life-change-card-text">
              Здобудете шанс побачити визначні памʼятки
              <strong>архітектури та унікальні історичні місця</strong>
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="life-change-card">
            <img
              src="../images/life-change/city.jpg"
              alt="люди"
              class="life-change-card-img"
            />
            <p class="life-change-card-text">
              Відкриєте світ подорожей та нових вражень, знаходячись<br />у
              самому
              <strong>серці Європи</strong>
            </p>
          </div>
        </li>
      </ul>
      <div class="life-change-slider-pagination slider-pagination"></div>
    </div>
    <ul class="life-change-slider-controls-list">
      <li class="slider-controls-list-item">
        <button type="button" class="slider-button slider-button-prev">
          <svg class="slider-button-icon">
            <use href="../icons/icons.svg#arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="slider-controls-list-item">
        <button type="button" class="slider-button slider-button-next">
          <svg class="slider-button-icon">
            <use href="../icons/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
