<div class="mobile-menu is-hidden js-mobile-menu">
  <div class="container">
    <div class="mobile-menu-nav">
      <a href="#" class="header-logo-link">
        <svg class="header-logo-icon">
          <use href="/icons/icons.svg#logo"></use>
        </svg>
      </a>
      <button type="button" class="mobile-menu-toggle js-mobile-menu-toggle">
        <svg class="mobile-menu-icon close">
          <use href="/icons/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-links-wrap">
      <ul class="mobile-menu-list js-mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="#vacancies" class="mobile-menu-link js-mobile-menu-link"
            >Вакансії</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#why-we" class="mobile-menu-link js-mobile-menu-link"
            >Чому ми</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#our-history" class="mobile-menu-link js-mobile-menu-link"
            >Наша історія</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#reviews" class="mobile-menu-link js-mobile-menu-link"
            >Відгуки</a
          >
        </li>
        <li class="mobile-menu-item">
          <a href="#question" class="mobile-menu-link js-mobile-menu-link"
            >Запитання</a
          >
        </li>
      </ul>
      <button type="button" class="btn consultation-btn js-consultation-btn">
        Консультація
      </button>
      <ul class="mobile-social-list">
        <li>
          <a href="#" class="mobile-social-link">
            <svg class="mobile-social-icon">
              <use href="/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="mobile-social-link">
            <svg class="mobile-social-icon">
              <use href="/icons/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
