<section class="our-history-section section">
  <div class="container">
    <div class="our-history-text-wrap">
      <!-- <div class="our-history-text-wrap show-more"> -->
      <h2 class="section-title">ЯК ПОЧИНАЛАСЬ<br />НАША ІСТОРІЯ</h2>
      <p class="our-history-desc">
        Уже як 27 років ми допомагаємо людям з різних куточків України змінювати
        своє життя та будувати свою карʼєру в &#8220;Садах Анни&#8221;.<br />&#8220;Сади
        Анни&#8221; - це надійний провідник, який проконсультує та поділиться
        всіма деталями про те, як офіційно влаштуватися на роботу в Чехії з
        гідними умовами праці та високою заробітною платою. Наша головна мета -
        забезпечити Вас усією необхідною інформацією та зробити Вашу подорож до
        Чехії максимально комфортною та наповненою радістю від кожного дня й
        задоволенням від власного успіху. Оскільки найголовніше для нас - це
        Ваше щастя та повернення до нас знову й знову!
      </p>
      <button type="button" class="our-history-show-more-btn">
        <span class="our-history-show-more-btn-title">Переглянути більше</span>
        <svg class="our-history-show-more-btn-icon">
          <use href="/icons/icons.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
