<section class="our-history-section section">
  <div class="container">
    <div class="our-history-section-text-wrap section-text-wrap hidden-desc">
      <h2 class="section-title">ЯК ПОЧИНАЛАСЬ<br />НАША ІСТОРІЯ</h2>
      <p class="our-history-desc">
        Уже як 27 років ми допомагаємо людям з різних куточків України змінювати
        своє життя та будувати свою карʼєру в &#8220;Садах Анни&#8221;.<br />&#8220;Сади
        Анни&#8221; - це надійний провідник, який проконсультує та поділиться
        всіма деталями про те, як офіційно влаштуватися на роботу в Чехії з
        гідними умовами праці та високою заробітною платою. Наша головна мета -
        забезпечити Вас усією необхідною інформацією та зробити Вашу подорож до
        Чехії максимально комфортною та наповненою радістю від кожного дня й
        задоволенням від власного успіху. Оскільки найголовніше для нас - це
        Ваше щастя та повернення до нас знову й знову!
      </p>
      <button type="button" class="show-more-btn">
        <span class="show-more-btn-title">Переглянути більше</span>
        <svg class="show-more-btn-icon">
          <use href="/icons/icons.svg#chevron-down"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="our-history-slider-wrap swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <img
          src="/images/our-history/bag.jpg"
          alt="сумка"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/our-team-with-apples.jpg"
          alt="люди з яблуками"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/women-at-work.jpg"
          alt="жінки за роботою"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/young-woman.jpg"
          alt="дівчина"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/worker.jpg"
          alt="робочий"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/our-team.jpg"
          alt="наша команда"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/apples.jpg"
          alt="яблука"
          class="our-team-img"
        />
      </li>
      <li class="swiper-slide">
        <img
          src="/images/our-history/women-with-apples.jpg"
          alt="жінки з яблуками"
          class="our-team-img"
        />
      </li>
    </ul>
    <ul class="our-history-slider-controls-list">
      <li class="slider-controls-list-item">
        <button type="button" class="slider-button slider-button-prev">
          <svg class="slider-button-icon">
            <use href="/icons/icons.svg#arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="slider-controls-list-item">
        <button type="button" class="slider-button slider-button-next">
          <svg class="slider-button-icon">
            <use href="/icons/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
