<section class="questions-section section">
  <div class="container">
    <h2 class="section-title">ЗАПИТАННЯ</h2>
    <ul class="questions-list js-questions-list">
      <li class="questions-list-item">
        <div class="question-wrap hidden-desc js-question-wrap">
          <button type="button" class="question-btn js-question-btn">
            <span class="question-btn-title">Чи забезпечуєте Ви житлом?</span>
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#question-arrow"></use>
            </svg>
          </button>
          <p class="answer">
            Так, ми пропонуємо житло, яке знаходиться поруч з роботою. У Вашому
            користуванні буде кухня, санвузол, пральна машина, кімната на 4-ох
            осіб. Вартість проживання 3000-3600 грн/місяць.
          </p>
        </div>
      </li>
      <li class="questions-list-item">
        <div class="question-wrap hidden-desc js-question-wrap">
          <button type="button" class="question-btn js-question-btn">
            <span class="question-btn-title"
              >Чи є гарантованим моє працевлаштування?</span
            >
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#question-arrow"></use>
            </svg>
          </button>
          <p class="answer">
            Так, Ви їдете на роботу за чеською робочою візою, а тому вже в
            Україні Ви підписуєте контракт, який гарантує забезпечення роботою
            вже в перший день після приїзду
          </p>
        </div>
      </li>
      <li class="questions-list-item">
        <div class="question-wrap hidden-desc js-question-wrap">
          <button type="button" class="question-btn js-question-btn">
            <span class="question-btn-title"
              >Чи організовуєте Ви трансфер до місця роботи?</span
            >
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#question-arrow"></use>
            </svg>
          </button>
          <p class="answer">
            Так, ми організовуємо доїзд до місця роботи. Водій автобуса
            попередньо інформує працівників компанії про точний час Вашого
            приїзду. Тому, коли Ви прибудете, на вас чекатиме трансфер, який
            доставить Вас до місця проживання.
          </p>
        </div>
      </li>
      <li class="questions-list-item">
        <div class="question-wrap hidden-desc js-question-wrap">
          <button type="button" class="question-btn js-question-btn">
            <span class="question-btn-title">Чи можна поїхати сім'єю?</span>
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#question-arrow"></use>
            </svg>
          </button>
          <p class="answer">
            Так, Ви можете їхати цілою родиною чи в компанії друзів. У цьому
            випадку Ви можете проживати разом в одній кімнаті (по 4 осіб) або ж
            в цілому блоці (якщо Ваша компанія складається з 8 осіб).
          </p>
        </div>
      </li>
      <li class="questions-list-item">
        <div class="question-wrap hidden-desc js-question-wrap">
          <button type="button" class="question-btn js-question-btn">
            <span class="question-btn-title"
              >Чи включено харчування в обідню перерву?</span
            >
            <svg class="question-btn-icon">
              <use href="/icons/icons.svg#question-arrow"></use>
            </svg>
          </button>
          <p class="answer">
            Так, ми забезпечуємо комплексним гарячим дотованим обідом, який
            доставляють для кожного працівника в сад. Вартість смачного ситного
            обіду лише 70 грн.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
