<section class="reviews-section section">
  <div class="container">
    <h2 class="section-title">ВІДГУКИ</h2>
    <div class="reviews-slider-container">
      <div class="reviews-slider-wrap swiper">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="reviews-card section-text-wrap hidden-desc">
              <div class="reviews-card-text-wrap">
                <p class="reviews-card-title">
                  &#8220;Сади Анни&#8221; допомогли мені здійснити мою мрію
                </p>
                <p class="reviews-card-desc">
                  Моєю мрією було збудувати дім. Я хотів заробити багато і
                  швидко, бо вдома на мене чекали дружина та донечка. Звісно,
                  їхати було страшно, адже я не знав, які ризики чекають на
                  мене. Я ризикнув вперше і востаннє, бо з того часу не міняв
                  роботи. За 3 місяці я заробив більше, ніж заробляв за рік.<br />У
                  &#8220;Садах Анни&#8221; я працюю 17 років. Наразі я не просто
                  тракторист, я керую робочим процесом господарства. За цей час
                  я здійснив свою мрію - збудував дім і допоміг своїй донечці
                  вступити в коледж.<br />Можу запевнити, що &#8220;Сади
                  Анни&#8221; - це надійна робота з високою зарплатою та
                  кар&#8216;єрним зростанням!
                </p>
              </div>
              <button type="button" class="show-more-btn">
                <span class="show-more-btn-title">Переглянути більше</span>
                <svg class="show-more-btn-icon">
                  <use href="/icons/icons.svg#chevron-down"></use>
                </svg>
              </button>
              <div div class="reviews-card-img-wrap">
                <img
                  src="/images/reviews/yuriy-parashchak.jpg"
                  alt="Юрій Паращак"
                  class="reviews-card-img"
                />
                <a
                  href="https://www.facebook.com/profile.php?id=100055350640539"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="reviews-card-link"
                  >Юрій Паращак</a
                >
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-card section-text-wrap hidden-desc">
              <div class="reviews-card-text-wrap">
                <p class="reviews-card-title">
                  &#8220;Сади Анни&#8221; - це не просто робота, це родина
                </p>
                <p class="reviews-card-desc">
                  Працювати у &#8220;Садах Анни&#8221; я почав ще у 18 років.
                  Мій батько їздив на сезонну роботу в сади не перший рік, і я
                  вирішив поїхати з ним.<br />Перший робочий день промайнув:
                  тільки-но прийшли в сад, настав час обіду, потім знову за
                  діло, а там вже й додому. Так і проходять наші робочі дні -
                  швидко, з піснями, розмовами та жартами, наче це не робота, а
                  відпочинок. Я відразу зрозумів, що повернуся знову.<br />Ось
                  уже 7-й рік я працюю в &#8220;Садах Анни&#8221;. Тут я заробив
                  свої перші гроші, за які купив подарунок мамі. За цей час я
                  зустрів своє кохання. Ми одружені, закохані одне в одного та в
                  наші сади. Чому наші? Бо &#8220;Сади Анни&#8221; - це про
                  спільні інтереси, про дружнє оточення та родинні відносини.
                </p>
              </div>
              <button type="button" class="show-more-btn">
                <span class="show-more-btn-title">Переглянути більше</span>
                <svg class="show-more-btn-icon">
                  <use href="/icons/icons.svg#chevron-down"></use>
                </svg>
              </button>
              <div div class="reviews-card-img-wrap">
                <img
                  src="/images/reviews/yuriy-dushko.jpg"
                  alt="Юрій Душко"
                  class="reviews-card-img"
                />
                <a
                  href="https://www.facebook.com/profile.php?id=100048459643941"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="reviews-card-link"
                  >Юрій Душко</a
                >
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-card section-text-wrap hidden-desc">
              <div class="reviews-card-text-wrap">
                <p class="reviews-card-title">
                  Відчула професіоналізм<br />з перших хвилин
                </p>
                <p class="reviews-card-desc">
                  Була приємно здивована, адже знайти добре оплачувану роботу за
                  кордоном з хорошими умовами досить важко.<br />Відчула
                  професійний підхід як тільки-но приїхала: мене зустріли та
                  розповіли про всі деталі, що вкрай важливо, коли вперше
                  опиняєшся за кордоном.<br />Зарплата та аванси, як домовлено,
                  були регулярними, без затримок. При цьому ще й забезпечували
                  комфортним житлом, яке знаходиться за декілька хвилин від
                  місця роботи. А сама робота на свіжому повітрі з веселим
                  колективом створювала враження, що я приїхала відпочивати!
                  Оскільки, коли ти почуваєш себе комфортно, робота починає
                  приносити лише задоволення.
                </p>
              </div>
              <button type="button" class="show-more-btn">
                <span class="show-more-btn-title">Переглянути більше</span>
                <svg class="show-more-btn-icon">
                  <use href="/icons/icons.svg#chevron-down"></use>
                </svg>
              </button>
              <div div class="reviews-card-img-wrap">
                <img
                  src="/images/reviews/anna-khomyk.jpg"
                  alt="Анна Хомик"
                  class="reviews-card-img"
                />
                <a
                  href="https://www.facebook.com/profile.php?id=100014041210601"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="reviews-card-link"
                  >Анна Хомик</a
                >
              </div>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="reviews-card section-text-wrap hidden-desc">
              <div class="reviews-card-text-wrap">
                <p class="reviews-card-title">
                  Робота в садах була<br />для мене відпочинком
                </p>
                <p class="reviews-card-desc">
                  Я працюю вчителем української мови. Я люблю свою роботу, але
                  під кінець року відчуваю, що втомлююсь морально і потребую
                  перезавантаження. Випадково натрапивши на оголошення про
                  сезонну роботу в Чехії, я вирішила переключитися з розумової
                  діяльності на фізичну.<br />Я працювала 1,5 місяця, але за цей
                  час я відпочила! Уявляєте? Безкраї поля, густо-зелені гілля
                  дерев, які закривають від сонця, і тиша та спокій, яких мені
                  так не вистачало.<br />Коли я приїхала додому, в мене ще був
                  час на відпочинок, і я змогла дозволити собі поїхати на
                  море.<br />Наступного літа поїду знову, але вже не сама, а з
                  коліжанками.
                </p>
              </div>
              <button type="button" class="show-more-btn">
                <span class="show-more-btn-title">Переглянути більше</span>
                <svg class="show-more-btn-icon">
                  <use href="/icons/icons.svg#chevron-down"></use>
                </svg>
              </button>
              <div div class="reviews-card-img-wrap">
                <img
                  src="/images/reviews/iryna-dyakov.jpg"
                  alt="Ірина Дяків"
                  class="reviews-card-img"
                />
                <a
                  href="https://www.facebook.com/profile.php?id=100014109600067"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="reviews-card-link"
                  >Ірина Дяків</a
                >
              </div>
            </div>
          </li>
        </ul>
        <ul class="reviews-slider-controls-list">
          <li class="slider-controls-list-item">
            <button type="button" class="slider-button slider-button-prev">
              <svg class="slider-button-icon">
                <use href="/icons/icons.svg#arrow-left"></use>
              </svg>
            </button>
          </li>
          <li class="slider-controls-list-item">
            <button type="button" class="slider-button slider-button-next">
              <svg class="slider-button-icon">
                <use href="/icons/icons.svg#arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
        <div class="reviews-slider-pagination slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
