<div class="support-menu-container">
  <div class="support-menu is-hidden-menu">
    <p class="support-menu-title">Розпочати чат у</p>
    <ul class="support-menu-list">
      <li class="support-menu-item">
        <a href="/" class="support-menu-link icon-scale">
          <svg class="support-menu-icon">
            <use href="/icons/icons.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="support-menu-item">
        <a href="/" class="support-menu-link icon-scale">
          <svg class="support-menu-icon">
            <use href="/icons/icons.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li class="support-menu-item">
        <a href="/" class="support-menu-link icon-scale">
          <svg class="support-menu-icon">
            <use href="/icons/icons.svg#viber"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <button type="button" class="support-bnt icon-scale">
    <svg class="support-bnt-icon">
      <use href="/icons/icons.svg#comment"></use>
    </svg>
  </button>
</div>
