<section class="vacancies-section section">
  <div class="container">
    <h2 class="section-title">актуальні вакансії</h2>
    <ul class="seasons-list">
      <li class="seasons-list-item">
        <label class="season-wrap">
          <span class="season-name">Зима</span>
          <input
            class="hidden-element"
            type="radio"
            name="vacancy-season"
            value="winter"
            checked
          />
        </label>
      </li>
      <li class="seasons-list-item">
        <label class="season-wrap">
          <span class="season-name">Весна</span>
          <input
            class="hidden-element"
            type="radio"
            name="vacancy-season"
            value="spring"
          />
        </label>
      </li>
      <li class="seasons-list-item">
        <label class="season-wrap">
          <span class="season-name">Літо</span>
          <input
            class="hidden-element"
            type="radio"
            name="vacancy-season"
            value="summer"
          />
        </label>
      </li>
      <li class="seasons-list-item">
        <label class="season-wrap">
          <span class="season-name">Осінь</span>
          <input
            class="hidden-element"
            type="radio"
            name="vacancy-season"
            value="autumn"
          />
        </label>
      </li>
    </ul>
    <!-- <ul class="vacancies-list">
      <li id="winter" class="vacancies-list-item">
        <div class="vacancy-card">winter</div>
      </li>
      <li id="spring" class="vacancies-list-item">
        <div class="vacancy-card">spring</div>
      </li>
      <li id="summer" class="vacancies-list-item">
        <div class="vacancy-card">summer</div>
      </li>
      <li id="autumn" class="vacancies-list-item">
        <div>autumn</div>
      </li>
    </ul> -->
  </div>
</section>
