<section class="vacancies-section section">
  <div class="container">
    <h2 class="section-title">актуальні вакансії</h2>
    <div class="vacancies-list-wrap">
      <ul class="seasons-list">
        <li class="seasons-list-item">
          <label class="season-wrap">
            <span class="season-name">Зима</span>
            <input
              class="hidden-element"
              type="radio"
              name="vacancy-season"
              value="winter"
              checked
            />
          </label>
        </li>
        <li class="seasons-list-item">
          <label class="season-wrap">
            <span class="season-name">Весна</span>
            <input
              class="hidden-element"
              type="radio"
              name="vacancy-season"
              value="spring"
            />
          </label>
        </li>
        <li class="seasons-list-item">
          <label class="season-wrap">
            <span class="season-name">Літо</span>
            <input
              class="hidden-element"
              type="radio"
              name="vacancy-season"
              value="summer"
            />
          </label>
        </li>
        <li class="seasons-list-item">
          <label class="season-wrap">
            <span class="season-name">Осінь</span>
            <input
              class="hidden-element"
              type="radio"
              name="vacancy-season"
              value="autumn"
            />
          </label>
        </li>
      </ul>
      <ul class="vacancies-list">
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/cherries.jpg"
                  alt="черешні"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">ЗБИРАЛЬНИК вишень, черешень</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">
                Із дбайливістю збираємо найсмачніші фрукти: вишні та черешні
              </p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
        <li class="vacancies-list-item">
          <div class="vacancy-card">
            <div class="vacancy-card-section-wrap">
              <div class="vacancy-card-img-wrap">
                <img
                  src="./images/vacancies/____.jpg"
                  alt="____"
                  class="vacancy-card-img"
                  height="200"
                />
              </div>
              <h3 class="vacancy-card-title">____</h3>
            </div>
            <div class="vacancy-card-section-wrap">
              <p class="vacancy-card-desc">____</p>
            </div>
            <button type="button" class="vacancy-card-show-more btn">
              Детальніше
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
