<section class="why-we-section section">
  <h2 class="section-title">чому обирають<br />саме нас</h2>
  <div class="why-we-reasons-container">
    <div class="container">
      <ul class="why-we-reasons-list">
        <li class="why-we-reasons-item">
          <div class="why-we-reason-wrap employment">
            <h3 class="why-we-reason-title">ОФІЦІЙНЕ ПРАЦЕВЛАШТУВАННЯ</h3>
            <p class="why-we-reason-desc">
              Гарантуємо офіційне працевлаштування для всіх наших працівників із
              дотриманням усіх законодавчих норм
            </p>
          </div>
        </li>
        <li class="why-we-reasons-item">
          <div class="why-we-reason-wrap work-visa">
            <h3 class="why-we-reason-title">Оформлення<br />робочої візи</h3>
            <p class="why-we-reason-desc">
              Допоможемо зібрати та оформити<br />всі необхідні документи, щоб
              працювати легально без ризику отримати штраф
            </p>
          </div>
        </li>
        <li class="why-we-reasons-item">
          <div class="why-we-reason-wrap health-insurance">
            <h3 class="why-we-reason-title">
              Оформлення медичного страхування
            </h3>
            <p class="why-we-reason-desc">
              Оформимо медичне страхування, щоб жодні недуги не застали Вас
              зненацька під час роботи в нашій компанії
            </p>
          </div>
        </li>
        <li class="why-we-reasons-item">
          <div class="why-we-reason-wrap salary">
            <h3 class="why-we-reason-title">
              КОНКУРЕНТНА<br />ЗАРОБІТНА ПЛАТА
            </h3>
            <p class="why-we-reason-desc">
              Ми пропонуємо конкурентну заробітну плату та прагнемо стимулювати
              професійний розвиток кожного співробітника
            </p>
          </div>
        </li>
        <li class="why-we-reasons-item">
          <div class="why-we-reason-wrap comfort">
            <h3 class="why-we-reason-title">КОМФОРТНІ<br />УМОВИ РОБОТИ</h3>
            <p class="why-we-reason-desc">
              Забезпечуємо комфортні умови праці, створюючи сприятливе робоче
              середовище: житло поруч з місцем роботи, смачні обіди, зручний
              графік
            </p>
          </div>
        </li>
        <li class="why-we-reasons-item">
          <div class="why-we-reason-wrap fresh-air">
            <h3 class="why-we-reason-title">Робота на<br />свіжому повітрі</h3>
            <p class="why-we-reason-desc">
              Пропонуємо роботу в здоровому середовищі для позитивного<br />впливу
              на Ваш фізичний та<br />емоційний стан
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ul class="why-we-statistics-list">
    <li class="why-we-statistics-item">
      <div class="why-we-statistics-wrap">
        <p class="why-we-statistics-value">11</p>
        <p class="why-we-statistics-title">АКТУАЛЬНИХ<br />ВАКАНСІЙ</p>
      </div>
    </li>
    <li class="why-we-statistics-item">
      <div class="why-we-statistics-wrap">
        <p class="why-we-statistics-value">27</p>
        <p class="why-we-statistics-title">РОКІВ НА<br />РИНКУ</p>
      </div>
    </li>
    <li class="why-we-statistics-item">
      <div class="why-we-statistics-wrap">
        <p class="why-we-statistics-value">100</p>
        <p class="why-we-statistics-title">
          ВІДСОТКІВ ГАРАНТІЇ<br />ПРАЦЕВЛАШТУВАННЯ
        </p>
      </div>
    </li>
    <li class="why-we-statistics-item">
      <div class="why-we-statistics-wrap">
        <p class="why-we-statistics-value">1000</p>
        <p class="why-we-statistics-title">НАЙМАНИХ<br />ПРАЦІВНИКІВ</p>
      </div>
    </li>
  </ul>
</section>
