<section class="working-conditions-section section">
  <div class="container">
    <div class="working-conditions-section-text-wrap">
      <h2 class="section-title" data-aos="fade-up">УМОВИ праці</h2>
      <p class="working-conditions-desc" data-aos="fade-up">
        Обираючи Сади Анни, Ви віддаєте перевагу не лише гідним умовам праці та можливості карʼєрного зростання, але й приємній атмосфері та дружнім взаєминам
      </p>
    </div>
    <video class="working-conditions-video" src="/video/videoplayback.mp4" controls loop preload="auto"></video>
  </div>
</section>
