.accommodations-section {
  background-color: rgba(255, 184, 1, 0.16);
}

.accommodations-section-desc {
  width: 802px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.8);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.accommodations-slider-wrap {
  position: relative;
  width: 100%;
  margin-top: 32px;
  border-radius: 40px;
}

.accommodations-img {
  width: 100%;
  height: 540px;
  object-fit: cover;
}

.accommodations-slider-controls-list {
  position: absolute;
  top: 32px;
  right: 32px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
