.header {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
}

.header-logo-link {
}

.header-logo-icon {
  display: block;
  width: 83px;
  height: 37.32px;
}

.menu {
}

.menu-item {
}

.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-link {
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  transition: color var(--transition-duration-and-func);
}

.menu-link {
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  transition: color var(--transition-duration-and-func);
}

.menu-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 35px;
  height: 35px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.72);
  border-radius: 4px;
  color: #000000;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  transition: background-color var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func);
}

.header-lang-btn:is(:hover, :focus) {
  background-color: var(--accent-color);
  border-color: transparent;
  color: var(--white-color);
}

.consultation-btn {
  min-width: 181px;
  border: none;
  padding: 12px;
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.header-actions {
}

.phone-link {
}

.phone-link-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #000000;
  transition: fill var(--transition-duration-and-func);
}

.phone-link:is(:hover, :focus) .phone-link-icon {
  fill: var(--accent-color);
}

.mobile-menu-toggle {
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu-icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: #000000;
  transition: fill var(--transition-duration-and-func);
}

.mobile-menu-toggle:is(:hover, :focus) .mobile-menu-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .header {
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
    width: 1256px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 97.5px;
  }

  .header-logo-icon {
    display: block;
    width: 105px;
    height: 47.21px;
  }

  .header-list {
    gap: 32px;
  }
}
