.hero-section {
  position: relative;
  height: 700px;
  padding-top: 232px;
  padding-bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.hero-slogan {
  position: relative;
  z-index: 10;
  color: var(--white-color);
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.hero-title {
  position: relative;
  z-index: 10;
  margin-top: 16px;
  color: var(--white-color);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.hero-join-us-btn {
  position: relative;
  z-index: 10;
  min-width: 100%;
  margin-top: 190px;
  border: none;
  padding: 12px;
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.hero-section .container {
  position: relative;
  height: 100%;
}

.hero-bg-video {
  position: absolute;
  top: 55px;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
}

@media screen and (min-width: 1280px) {
  .hero-section {
    height: 810px;
    padding-top: 304px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32));
  }

  .hero-slogan {
    width: 910px;
    color: var(--white-color);
    font-size: 64px;
    line-height: 1.1;
    text-align: left;
  }

  .hero-title {
    font-size: 20px;
    line-height: 1.3;
    text-align: left;
  }

  .hero-join-us-btn {
    min-width: 237px;
    margin-top: 32px;
  }

  .hero-bg-video {
    top: 0px;
  }

  .hero-bg-video.mobile {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .hero-bg-video.desk {
    display: none;
  }
}
