.join-our-team-section {
  background-image: url('/images/join-our-team/bg-img-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.join-our-team-section.section {
  padding-bottom: 63px;
}

.join-our-team-section-wrap {
  position: relative;
  width: 288px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.join-our-team-section-form-wrap {
  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.join-our-team-form-title {
  color: #0c6535;
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .join-our-team-section {
    background-image: url('/images/join-our-team/bg-img-desk.jpg');
  }

  .join-our-team-section-wrap {
    width: 742px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .join-our-team-form-title {
    width: 730px;
    font-size: 48px;
    line-height: 1.1;
  }
}
