.join-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 248px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.join-us-form > p:is(:nth-child(2), :nth-child(3)) > span {
  display: block;
}

.join-us-form-input {
  width: 100%;
  height: 48px;
  outline: none;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.32);
  border-radius: 24px;
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: border-color var(--transition-duration-and-func);
}

.join-us-form-input::placeholder {
  color: rgba(0, 0, 0, 0.48);
}

.join-us-form-input:is(:hover, :focus, :active) {
  border-color: #ffb801;
}

.join-us-form > p:nth-child(3) {
  margin-top: 8px;
}

.join-us-form > p:nth-child(4) {
  margin-top: 16px;
}

.join-us-form > p:nth-child(4) > span {
  display: flex;
  justify-content: center;
}

.join-communication-radio-btn-list {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
  gap: 4px;
}

.join-communication-custom-radio-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.wpcf7-list-item label {
  cursor: pointer;
}

.wpcf7-list-item label::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  outline: 0.77px solid;
  outline-color: #aeaeb2;
  border-radius: 50%;
  background-size: cover;
  background-position: 0.335px 0.335px;
  background-repeat: no-repeat;
}

.wpcf7-list-item:has(input:is(:focus, :hover)) label::before {
  outline-color: #ffb801;
}

.wpcf7-list-item:has(input:checked) label::before {
  outline-color: transparent;
  background-image: url('../icons/check.svg');
}

.join-communication-radio-btn:checked ~ .wpcf7-list-item-label {
  color: #272b33;
}

.wpcf7-list-item-label {
  color: rgba(39, 43, 51, 0.48);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  transition: color var(--transition-duration-and-func);
}

.join-us-form-wrap.form-not-submitted .join-us-form-success-msg-wrap {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.join-us-form-wrap:not(.form-not-submitted) .join-our-team-form-wrap {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.join-us-form-submit-btn {
  min-width: 100%;
  border: none;
  padding: 12px;
  align-self: center;
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  outline: none;
}

.join-us-form > p:nth-child(5) {
  margin-top: 16px;
}

.join-us-form-submit-btn + .wpcf7-spinner {
  display: none !important;
}

.wpcf7-list-item input {
  position: absolute;
  transform: scale(0);
}
.wpcf7-list-item label {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 1280px) {
  .join-us-form {
    width: 412px;
    margin-top: 13px;
  }

  .join-communication-radio-btn-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .join-us-form > p:nth-child(5) {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .join-us-form-submit-btn {
    min-width: 181px;
  }

  .join-us-form-success-msg-wrap {
    gap: 4px;
  }
}
