.life-change-section {
  width: 100%;
  background-image: url('../images/life-change/bg-img-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.life-change-section .section-title {
  color: var(--white-color);
  font-size: 30px;
}

.life-change-slider-wrap {
  position: relative;
  margin-top: 32px;
}

.life-change-slider-wrap .swiper {
  position: static !important;
  border-radius: 40px;
}

.life-change-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  border-radius: 40px;
  background-color: var(--white-color);
  padding: 16px 16px 32px;
}

.life-change-card-img {
  flex-shrink: 0;
  width: 256px;
  height: 203px;
  border-radius: 40px;
  object-fit: cover;
}

.life-change-card-text {
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.life-change-slider-controls-list {
  display: none;
}

.life-change-slider-pagination {
  position: absolute;
  top: calc(100% + 32px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 10px;
}

.life-change-slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #c2d1d9;
  margin-left: 0 !important;
  margin-right: 0 !important;
  opacity: 1;
  transition: background-color var(--transition-duration-and-func);
}

.life-change-slider-pagination .swiper-pagination-bullet-active {
  background-color: var(--white-color);
  border: none;
}

@media screen and (min-width: 1280px) {
  .life-change-section {
    background-image: url('../images/life-change/bg-img-desk.jpg');
  }

  .life-change-section .section-title {
    font-size: 64px;
    line-height: 1.1;
  }

  .life-change-slider-wrap {
    width: 716px;
    margin-left: auto;
    margin-right: auto;
  }

  .life-change-slider-wrap .swiper {
    border-radius: 61px;
  }

  .life-change-card {
    flex-direction: row;
    gap: 24px;
    align-items: center;
    border-radius: 61px;
    padding: 15px;
    padding-right: 34px;
  }

  .life-change-card-img {
    width: 329px;
    height: 268px;
    border-radius: 61px;
  }

  .life-change-card-text {
    font-size: 24px;
  }

  .life-change-slider-controls-list {
    position: absolute;
    top: 113px;
    left: 50%;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 748px;
    transform: translateX(-50%);
  }

  .life-change-slider-pagination {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .life-change-section.section {
    padding-bottom: 106px;
  }

  .life-change-slider-wrap .slide-wrap {
    height: 363px;
  }
}
