body:has(.mobile-menu:not(.is-hidden)) {
  overflow-y: hidden;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 32px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('../images/hero/bg-img-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  overflow-y: scroll;
  transition: visibility var(--transition-duration-and-func), opacity var(--transition-duration-and-func);
}

.mobile-menu .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.mobile-menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile-menu-icon.close {
  fill: var(--accent-color);
}

.mobile-menu-links-wrap {
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.mobile-menu-item {
}

.mobile-menu-link {
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.mobile-menu .consultation-btn {
  width: 100%;
  margin-top: 116px;
}

.mobile-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.mobile-social-link {
}

.mobile-social-icon {
  display: block;
  width: 56px;
  height: 56px;
  fill: var(--accent-color);
}

@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}
