body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden-element {
  position: fixed;
  transform: scale(0);
}

.btn {
  border-radius: 100px;
  background-color: rgb(255, 184, 1);
  transition: background-color var(--transition-duration-and-func);
}

.btn:is(:hover, :focus) {
  background-color: var(--btn-accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.icon-scale {
  transition: transform var(--transition-duration-and-func);
}

.icon-scale:is(:hover, :focus) {
  transform: scale(1.1);
}

.section-title {
  color: var(--accent-color);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

.show-more-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.show-more-btn-title {
  color: var(--accent-color);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.show-more-btn-icon {
  display: block;
  width: 9px;
  height: 4.5px;
  transition: transform var(--transition-duration-and-func);
}

.section-text-wrap:not(.hidden-desc) .show-more-btn-icon {
  transform: rotate(180deg);
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1152px;
  }

  .section {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .section-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
  }

  .show-more-btn {
    display: none;
  }
}
