body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden-title {
  position: fixed;
  transform: scale(0);
}

.btn {
  border-radius: 100px;
  background-color: rgb(255, 184, 1);
  transition: background-color var(--transition-duration-and-func);
}

.btn:is(:hover, :focus) {
  background-color: var(--btn-accent-color);
}

.container {
  width: 318px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 128px;
  padding-bottom: 128px;
  margin-left: auto;
  margin-right: auto;
}

.icon-scale {
  transition: transform var(--transition-duration-and-func);
}

.icon-scale:is(:hover, :focus) {
  transform: scale(1.1);
}

.section-title {
  color: var(--accent-color);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1152px;
  }

  .section-title {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
  }
}
