body {
  overflow: hidden;
  background: grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.hidden-title {
  position: fixed;
  transform: scale(0);
}

.btn {
  background-color: rgb(255, 184, 1);
  transition: background-color var(--transition-duration-and-func);
}

.btn:is(:hover, :focus) {
  background-color: var(--btn-accent-color);
}

.container {
  width: 318px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1279px) {
  .desc-element {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1152px;
  }

  .mobile-element {
    display: none;
  }
}
