.why-we-section {
  position: relative;
  padding-bottom: 0;
}

.why-we-statistics-list {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 56px 16px;
  justify-content: center;
}

.why-we-statistics-value-wrap {
  position: relative;
}

.why-we-statistics-value {
  color: #ffb801;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
}

.why-we-statistics-value.why-we-statistics-hidden-value {
  color: transparent;
}

.statistics-alt-value {
  position: absolute;
  top: 0;
  left: 0;
}

.why-we-statistics-value-after {
  position: absolute;
  top: calc(100% + 4px);
  left: 0px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 24.47px;
  background-image: url('/icons/apple-mobile.svg');
}

.why-we-statistics-title {
  margin-top: 32px;
  color: #000000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}

.why-we-reasons-container {
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(255, 184, 1, 0.32);
  margin-top: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.why-we-reasons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.why-we-reasons-item {
  width: 100%;
}

.why-we-reason-wrap {
  padding: 48px 16px 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  background-repeat: no-repeat;
}

.employment {
  background-image: url('/icons/handshake.svg');
  background-position: right 16px top 16px;
  background-size: 43px 27px;
}

.work-visa {
  background-image: url('/icons/document.svg');
  background-position: right 16px top 16px;
  background-size: 24px 33px;
}

.health-insurance {
  background-image: url('/icons/first-aid-kit.svg');
  background-position: right 16px top 16px;
  background-size: 32px 25px;
}

.salary {
  background-image: url('/icons/wallet.svg');
  background-position: right 16px top 16px;
  background-size: 32px 28px;
}

.comfort {
  background-image: url('/icons/smile.svg');
  background-position: right 16px top 16px;
  background-size: 32px 32px;
}

.fresh-air {
  background-image: url('/icons/leaf.svg');
  background-position: right 16px top 16px;
  background-size: 37px 32px;
}

.why-we-reason-title {
  color: #000000;
  font-family: Inter;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  text-transform: uppercase;
}

.why-we-reason-desc {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 1280px) {
  .why-we-statistics-list {
    position: absolute;
    top: 336px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 118px;
    width: 100%;
    margin-top: 0;
    transform: translateX(-50%);
  }

  .why-we-statistics-value {
    font-size: 100px;
    text-align: center;
  }

  .statistics-alt-value {
    left: 50%;
    transform: translateX(-50%);
  }

  .why-we-statistics-value-after {
    top: auto;
    bottom: -45px;
    left: calc(50% - (38.04px / 2));
    width: 38.04px;
    height: 46.54px;
    background-image: url('/icons/apple-desk.svg');
  }

  .why-we-statistics-title {
    margin-top: 61px;
    font-size: 20px;
    text-align: center;
  }

  .why-we-reasons-container {
    border-radius: 40px 40px 0px 0px;
    margin-top: 203px;
    padding-top: 156px;
    padding-bottom: 128px;
  }

  .why-we-reasons-list {
    gap: 32px;
  }

  .why-we-reasons-item {
    width: calc((100% - 64px) / 3);
  }

  .why-we-reason-wrap {
    padding: 98px 24px 24px;
  }

  .employment {
    background-position: right 24px top 24px;
    background-size: 65px 41px;
  }

  .work-visa {
    background-position: right 24px top 24px;
    background-size: 31px 42px;
  }

  .health-insurance {
    background-position: right 23px top 24px;
    background-size: 48px 37px;
  }

  .salary {
    background-position: right 23px top 24px;
    background-size: 48px 37px;
  }

  .comfort {
    background-position: right 24px top 24px;
    background-size: 45px 45px;
  }

  .fresh-air {
    background-position: right 26px top 28px;
    background-size: 45.3px 39.1px;
  }

  .why-we-reason-title {
    font-size: 20px;
  }

  .why-we-reason-desc {
    margin-top: 8px;
    font-size: 16px;
  }
}

@media screen and (max-width: 1279px) {
  .why-we-statistics-item {
    width: calc((100% - 16px) / 2);
  }
}
